body {
  background: url(../img/showcase.jpg) no-repeat;
  padding-top: 3rem;
}

.navbar{
  margin-bottom: 0;
  .navbar-brand{
    font-size: 18px;
  }
}

.showcase{

  h1{
    font-size: 60px;
  }
  .my-1st-col {
    background: #fff;
    opacity: 0.7;
    padding: 20px 30px 30px 30px;
  }
}
